.pin-img {
  margin-bottom: 4%;
};

.pin-card {
  padding: 1%;
  text-align: center;
}

.card-body {
  font-family: $secondary-font;
}

.edit-pin,
.delete-pin {
  font-size: 1rem;
}

.pin-card-body {
  padding: 0;
}
